.fas {
  font-size: 1.5rem;
  color: grey;
}

.btn {
  background-color: #f2994a;
  border: none;
}

.card {
  font-family: 'Montserrat', sans-serif;
  max-width: 38.3rem;
  background-color: #f2f2f2;
  padding: 3.1rem 3rem;
  border: none;
  border-radius: 1.2rem;

  .product {
    display: flex;
    justify-content: center;
    margin-bottom: 3.2rem;

    &__img {
      border-radius: 2rem;
      margin-right: 2rem;
      width: 17.5rem;
    }

    &__description {
      font-size: 1.6rem;
      font-weight: bold;
      color: #4e5150;
      display: flex;
      flex-direction: column;
    }

    &__prices {
      .pp-1 {
        color: #f2994a;
      }
      .pp-2 {
        font-size: 1.2rem;
        text-decoration: line-through;
        margin-left: 1rem;
      }
    }

    &__btn-group {
      margin-top: auto;
      border: 2px solid #828282;
      border-radius: 12px;
      width: 13.5rem;
      height: 5.2rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        border: none;
        border-radius: 5px;
        width: 2.12rem;
        height: 2.12rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .order {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333333;
    margin-top: 7rem;

    p {
      border-top: 2px solid #bdbdbd;
      display: flex;
      justify-content: space-between;
    }
  }
}
